[Unit]
Desciption=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=dooyee
WorkingDirectory=/home/dooyee/sites/SITENAME/source
ExecStart=/home/dooyee/sites/SITENAME/virtualenv/bin/gunicorn --bind unix:/tmp/SITENAME.socket siperlists.wsgi:application

[Install]
WantedBy=multi-user.target
